@font-face{
	font-family: Comics;
	src: url(../fonts/Comics/funsized-webfont.woff);
}
@font-face{
	font-family: Heroes;
	src: url(../fonts/Heroes/heroes_legend-webfont.woff);
}
@font-face{
	font-family: Komiks;
	src: url(../fonts/Komika/komtxtki-webfont.woff);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
/*navbar*/
.nav{
		
	background-color: transparent;
}
.navbar{
	height: 10vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.54);
	position: fixed;
	border-radius: 0px 0px 50% 50%;

}
.navlink{
	text-decoration: none;
	font-family: Heroes;
	margin-right: 2vw;
	font-size: 25px;
	color: white;
}
.navlink:visited{
	color: none;
}
.navbar > p{
	background-color: transparent;
}
.navbar > p > a:hover{
	text-shadow: 1px 1px 10px yellow;
}
/*End of navbar*/


/*border class*/
.borderpage{
	border: 2px solid black;
}

.borderRed{
	border: 2px solid red;
}

.borderBlue{
	border: 2px solid blue;
}

.borderGreen{
	border: 2px solid green;
}

.borderViolet{
	border: 2px solid violet;
}

.borderYellow{
	border: 2px solid yellow;
}

.borderGray{
	border: 2px solid whitesmoke;
}


/*Start of Page 1*/

.page1{
	height: 100vh;
	background-color: rgba(230, 59, 25, 0.8);
	align-items: center;
	justify-content: center;
	display: flex;
	text-align: center;
}
.intro{
	width: 65vw;
}
h1{
	/*font-family: 'Bowlby One SC', cursive;*/
	font-family: Comics;
	padding: 30px 0px;
	transition: 1.5s;
}
h3{
	font-family: 'Roboto', sans-serif;
	transition: 1.5s;
	margin: 20px 0px;
}
h5{
	font-family: 'Roboto', sans-serif;
	transition: 1.5s;
}

/*Page2*/
.page2{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.profpic {
	display: flex;
	height: 70%;
	width: auto;
	justify-content: center;
	align-items: center;
	letter-spacing: 2px;

}
.profpic > img{
	height: auto;
	width: 250px;
	margin-right: 100px;
}
.profpic > .info{
	height: auto;
	width: auto;
	display: block;
	padding-left: 30px;
	background-color: whitesmoke;
	border-radius: 20px;
}
.info > *{
	margin: 10px;
}
.info > h1{

	text-align: center;

}
.info > h1:hover{
	transform: scale(1.3);
}

.info > h5:hover{
	transform: scale(1.05);
}

.info > div > h5{
	text-align: justify;
}
.connectme > a{
	text-decoration-style: none;
}
.connectme > a:visited{
	color: black;
}
.connectme > a:hover{
	transform: scale(1.5);
}
#facebookicon{
	color: blue;
}
/**/
/*page3*/
.Page3{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #146f8e;
}
.skills{
	letter-spacing: 4px;
	display: flex;
	height: auto;
	width: auto;
	flex-direction: column;
	align-items: center;
}

/*Page4*/
.page4{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.page4 > .elecon4{
	height: 80%;
	width: 90%;
}
.fourthhead{
	height: 20%;
	letter-spacing: 10px;
	display: flex;
	justify-content: center;
}
.panels{
	height: 80%;
	width: 100%;
	display: flex;
	align-items: center;
	margin: auto;
	justify-content: space-around;
}
.panels > div{
	display: block;
	width: 30%;
	height: 50%;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 2px solid whitesmoke;
}
.panels div img{
	width: 80%;
	max-height: 80%;
	height: 80%;
}

/*page5*/
.page5{
	height: 100vh;
	background-color: orange;
	background: url(../images/regbg.jpg);
	background-size: cover;
	background-position: center;
}
.concerns{
	letter-spacing: 3px;
	text-align: center;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;

}
form{
	height: 50%;
	width: 40%;
	letter-spacing: 3px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 3px solid black;
	border-radius: 10px;
	background-color: rgba(153, 112, 77, 0.49);
}
.dataform{
	display: flex;
}
.dataform > label{
	flex: 1;
}
.text{
	flex: 1;
	border-radius: 10px;
	border: 2px solid black;
	background-color: transparent;
	margin-right: 10px;
}
.checkboxes{
	width: 70%;
	margin-left: 20px;
}
.checkboxes > div{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.checkme{
	display: flex;
}
#submit{
	border-radius: 10px;
	color: black;
	background-color: silver;
	font-family: Heroes;
	padding: 5px;
}
/*media query*/
@media only screen and (max-width: 500px) 
{	

/*navbar*/
.nav{
		
	background-color: transparent;
}
.navbar{
	height: 10vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.54);
	position: fixed;
	border-radius: 0px 0px 50% 50%;
	text-align: center;

}
.navlink{
	text-decoration: none;
	font-family: Heroes;
	margin-right: 2vw;
	font-size: 10px;
	color: white;
}
.navlink:visited{
	color: none;
}
.navbar > p{
	background-color: transparent;
}
.navbar > p > a:hover{
	text-shadow: 1px 1px 10px yellow;
}
	/*end of navbar*/

	h1{
	font-family: 'Bowlby One SC', cursive;
/*	padding: 30px 0px;*/
	font-size: 25px;
	}
	h3{
		font-family: 'Roboto', sans-serif;
		font-size: 4vw;
	}
	h5{
		font-family: 'Roboto', sans-serif;
		font-size: 4vw;
		padding-left: 30px;
	}

	.page2{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	}

	.profpic {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

	}

	.profpic > img{
		height: 200px;
		width: 200px;
		margin-right: 0px;
	}

	.profpic > .info{
	height: auto;
	width: auto;
	padding-left: 0px;
	background-color: whitesmoke;
	}
	.info > *{
		margin-top: 5px;
	}
	.info > h1{

		text-align: center;

	}
	.info > div > h5{
		text-align: justify;
	}
	.connectme{
		margin-top: 10px;
		padding-left: 30px;
	}

	/*page3*/
	.Page3{
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #146f8e;
	}
	.skills{
		letter-spacing: 4px;
		display: flex;
		height: auto;
		width: 100vw;
		flex-direction: column;
		align-items: center;
	}
	.skills > img{
		max-width: 100%;
		max-height: 100%;
	}


	/*Page4*/
	.page4{
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.page4 > .elecon4{
		height: 80%;
		width: 90%;
	}
	.fourthhead{
		height: 20%;
		letter-spacing: 10px;
		display: flex;
		justify-content: center;
	}
	.panels{
		height: 80%;
		width: 100%;
		display: flex;
		flex-direction: column;
		margin: 0px;
		align-items: center;
		justify-content: space-around;
	}
	.panels > div{
		display: block;
		max-width: 50%;
		max-height: 30%;
		width: 50%;
		height: 30%;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 2px solid whitesmoke;
	}
	.panels > div > h1{
		font-size: 15px;
		padding: 0px;
		margin: 0px;
	}
	.panels div img{
		width: 80%;
		max-height: 80%;
		height: 80%;
	}
	/*page5*/
.page5{
	height: 100vh;
	background-color: orange;
	background: url(../images/regbg.jpg);
	background-size: cover;
	background-position: center;
}
.concerns{
	letter-spacing: 3px;
	text-align: center;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}
form{
	height: 50%;
	width: 90%;
	letter-spacing: 3px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 3px solid black;
}
.dataform{
	display: flex;
}
.dataform > label{
	flex: 1;
}
.text{
	flex: 1;
	border-radius: 10px;
	border: 2px solid black;
	background-color: transparent;
}
.checkboxes{
	width: 70%;
}
.checkboxes > div{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.checkme{
	display: flex;
}
#submit{
	border-radius: 10px;
	color: black;
	background-color: silver;
	font-family: Heroes;
	padding: 5px;
}
}


@media only screen and (min-width: 760px) and (max-width: 996px)
{

/*navbar*/
.nav{
		
	background-color: transparent;
}
.navbar{
	height: 10vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: rgba(0, 0, 0, 0.54);
	position: fixed;
	border-radius: 0px 0px 50% 50%;

}
.navlink{
	text-decoration: none;
	font-family: Heroes;
	margin-right: 2vw;
	font-size: 22px;
	color: white;
}
.navlink:visited{
	color: none;
}
.navbar > p{
	background-color: transparent;
}
.navbar > p > a:hover{
	text-shadow: 1px 1px 10px yellow;
}

/*End of navbar*/

/*Start of Page 1*/

.page1{
	height: 100vh;
	background-color: red;
	align-items: center;
	justify-content: center;
	display: flex;
	text-align: center;
}
.intro{
	width: 65vw;
}
h1{
	font-family: 'Bowlby One SC', cursive;
	padding: 30px 0px;
}
h3{
	font-family: 'Roboto', sans-serif;
}
h5{
	font-family: 'Roboto', sans-serif;
}

/*Page2*/
.page2{
	height: 100vh;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.profpic {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;

}
.profpic > img{
	height: 250px;
	width: 250px;
	margin-right: 0px;
}
.profpic > .info{
	height: 50vh;
	width: 50vw;
	display: block;
	padding-left: 30px;
	background-color: whitesmoke;
}
.info > *{
	margin-top: 30px;
}
.info > h1{

	text-align: center;

}
.info > div > h5{
	text-align: justify;
}
/*.connectme > a{
	text-decoration-style: none;
}*/
/*.connectme > a > i:visited{
	color: none;
	background-color: none;
}
.connectme > a:hover{
	transform: scale(1.5);
}*/
/*Page4*/
	.page4{
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.page4 > .elecon4{
		height: 80%;
		width: 90%;
	}
	.fourthhead{
		height: 20%;
		letter-spacing: 10px;
		display: flex;
		justify-content: center;
	}
	.panels{
		height: 80%;
		display: flex;
		flex-direction: column;
		margin: auto;
		align-items: center;
		justify-content: space-around;
	}
	.panels > div{
		display: block;
		max-width: 50%;
		max-height: 30%;
		width: 50%;
		height: 30%;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 2px solid whitesmoke;
	}
	.panels > div > h1{
		font-size: 27px;
		padding: 0px;
		margin: 0px;
	}
	.panels div img{
		width: 80%;
		max-height: 80%;
		height: 80%;
	}
	/*page5*/
.page5{
	height: 100vh;
	background-color: orange;
	background: url(../images/regbg.jpg);
	background-size: cover;
	background-position: center;
}
.concerns{
	letter-spacing: 3px;
	text-align: center;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}
form{
	height: 40%;
	width: 60%;
	letter-spacing: 3px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 3px solid black;
}
.dataform{
	display: flex;
}
.dataform > label{
	flex: 1;
}
.text{
	flex: 1;
	border-radius: 10px;
	border: 2px solid black;
	background-color: transparent;
}
.checkboxes{
	width: 70%;
}
.checkboxes > div{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.checkme{
	display: flex;
}
#submit{
	border-radius: 10px;
	color: black;
	background-color: silver;
	font-family: Heroes;
	padding: 5px;
}
}


