@font-face{
	font-family: Vampire;
	src: url("../fonts/Custom/vampkit/mistv___-webfont.woff2");
}

@font-face{
	font-family: Carrot;
	src: url("../fonts/Custom/carrot/black_carrot-webfont.woff2");
}

html{
  scroll-behavior: smooth;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1{
	text-align: center;
	align-items: center;
}

/* START OF NAVBAR SECTION*/
.divImg > a,{
	filter: grayscale(100%);
	transition: .3s ease-in-out;	
}     


.divImg > a:visited, .divImg > a:hover, .divImg > a:active{  
	filter: grayscale(0%);
}  

nav{
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,10,0.7791491596638656);
    position: fixed;
	width: 100%;
	z-index: 1000;
}

.nav-unordered{
	display: flex;
}
.divImg{
	padding: 10px 30px;
	filter: grayscale(100%);
	transition: .3s ease-in-out;
}

.divImg:hover{
	background-color: lightblue;
	box-shadow: inset 0 0 10px #000000;	
	filter: grayscale(0%);
}

.nav-list{
	list-style-type: none;
}
.iconNav2{
	height: 40px;
}

.info{
/*	display: none;*/
	position: absolute;
	bottom: -20px;
	margin-right: 120px;
	z-index: -1;
	display: block;
	width: 100px;
	text-align: center;
	font-size: 20px;
	text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
	text-decoration: none;
	transition: .5s ease-in-out;
	opacity: 0;
	padding: 0;
	left: 1;
}

.divImg:hover + span{
	display: normal;
	bottom: -30px;
	opacity: 1;
}



/*Intro*/
#Intro{
	height: 100vh;
	width: 100%;
	background-image: url("../images/bgcapname.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.introheader{
	display: flex;
	align-items: flex-end;
	justify-content: center;
	height: 20%;

}

.introheader> h1{
	font-family: 'Chewy', cursive;
	font-size: 80px;
	margin-bottom: 10px;
	color: green;
  	text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  	letter-spacing: 3px;
}
.introslide{
	display: flex;
	height: 65%;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,10,0.2418942577030813);
	border-radius: 200px;

}
#buttonleft{
	transform: scaleX(-1);
	left: 0;
	margin-left: 120px;
}
#buttonright{
	right: 0;
	margin-right: 130px;
}
#buttonleft, #buttonright{
	height: 60px;
	position: absolute;
	z-index: 10;
}
.introslide > div{
	height: 90%;
	width: 80%;
	border: 2px solid black;
	border-width: thick;
	border-radius: 10px;
	position: relative;
}
.imgSlide{
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
}

.item{
	max-height: 100%;
	min-height: 100%;
	max-width: 100%;
	min-width: 100%;
}

#image1, #image2, #image3, #image4, #image5{
	display: none;
}

.left-label, .right-label{
	width: 10%;
	height: 100%;
	position: absolute;
	top: 0;
	background: rgba(0,0,10,.4231267507002801);
	cursor: pointer;
	z-index: 500;
	display: block;
}
.left-label{
	left: 0;
}
.right-label{
	right: 0;
}

.sliderdiv{
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 3%;
	z-index: 99;
	text-align: center;
}

.slider{
	position: relative;
	top: 2px;
	width: 70px;
	height: 8px;
	margin: 0 5px;
	display: inline-block;
	background: white;
}

#image1:checked ~ #one,
#image2:checked ~ #two,
#image3:checked ~ #three,
#image4:checked ~ #four,
#image5:checked ~ #five{
	z-index: 9;
}

#image1:checked ~ .sliderdiv #slider1,
#image2:checked ~ .sliderdiv #slider2,
#image3:checked ~ .sliderdiv #slider3,
#image4:checked ~ .sliderdiv #slider4,
#image5:checked ~ .sliderdiv #slider5{
	background-color: gray;
	cursor: pointer;
}




/*About*/
#About{
	height: 100vh;
	width: 100%;
	background: blue;
	display: flex;
	background-image: url("../images/backgroundintro2.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
.leftdiv, .rightdiv{
	width: 50vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.left1{
	height: 25%;
	width: 30%;
	border-radius: 30px;
}
.left2{
	display: flex;
	width: 90%;
	height: 25%;
}
.middle{
	width: 33.33%;
	height: 100%;
}
.left3{
	height: 20%;
	width: 30%;
	display: flex;
}
.bottom{
	width: 50%;
	height: 100%;
}

.middle > img, .bottom > img{
	height: 100%;
	width: 100%;

}
.head{
	border-radius: 29px;
	height: 100%;
	width: 100%;
}


/*right*/

.details{
	height: 50%;
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-width: thin;
	border: 2px solid black;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px; 

}

.detailshead{
	display: flex;
	align-items: center;
	max-width: 40%;
	height: 100%;
	border-style: none solid none none;
	border-width: thick;
	background-color: rgba(14,62,143,0.9904096638655462);
	border-top-left-radius: 30px;
}
.detailshead > h1{
	color: rgba(241,235,228,0.9500175070028011);
	text-shadow: -1px -1px 0 darkgreen, 1px -1px 0 darkgreen, -1px 1px 0 darkgreen, 1px 1px 0 darkgreen;
}
.detailsbody{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	background-color: rgba(14,62,143,0.9304096638655462);
	min-width: 60%;
	border-bottom-right-radius: 30px;

}

.detailsbody > h3, .detailsbody > h1{
	text-align: center;
	margin: 20px 10px;
	color: rgba(241,235,228,0.9500175070028011);
	text-shadow: -1px -1px 0 darkgreen, 1px -1px 0 darkgreen, -1px 1px 0 darkgreen, 1px 1px 0 darkgreen;
	letter-spacing: 2px;
}





/*Skills*/
#Skills{
	height: 100vh;
	width: 100%;
	background-color: #1A7F89;
}

.skills{
	border:2px solid black;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.skills > h1{
	font-size: 60px;
	margin-bottom: 50px;
	color: rgba(241,235,228,0.9500175070028011);
	text-shadow: -1px -1px 0 darkgreen, 1px -1px 0 darkgreen, -1px 1px 0 darkgreen, 1px 1px 0 darkgreen;
	letter-spacing: 5px;
}
.skills > h2{
	font-size: 30px;
	margin-top: 50px;
	color: rgba(241,235,228,0.9500175070028011);
	text-shadow: -1px -1px 0 darkgreen, 1px -1px 0 darkgreen, -1px 1px 0 darkgreen, 1px 1px 0 darkgreen;
	letter-spacing: 5px;
}



/*Projects*/
#Projects{
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
	background-image: url("../images/bg4th.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

#Projects > h1{
	font-size: 60px;
	color: rgba(241,235,228,0.9500175070028011);
	text-shadow: -1px -1px 0 darkgreen, 1px -1px 0 darkgreen, -1px 1px 0 darkgreen, 1px 1px 0 darkgreen;
	letter-spacing: 5px;
}

.projectbody{
	height: 60%;
	width: 100%;
	display: flex;
}

.capstones{
	height: 60%;
	width: 25%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.capstones > h1{
	font-size: 40px;
	color: rgba(241,235,228,0.9500175070028011);
	text-shadow: -1px -1px 0 darkgreen, 1px -1px 0 darkgreen, -1px 1px 0 darkgreen, 1px 1px 0 darkgreen;
	letter-spacing: 5px;
}

.capstones > img{
	max-height: 70%;
	max-width: 90%;
	margin: auto;
}

.capstones > a{
	display: inline-block;
	max-width: 100%;
}

#img1{
	max-height: 100%;
	max-width: 100%;
	border-radius: 30px;
}



/*Contact*/
#Contact{
	height: 100vh;
	width: 100%;
	background-image: url("../images/contactbg.jpg");
	display: flex;
	align-items: center;
	justify-content: center;

}
.formdiv{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border: 2px solid black;
	border-radius: 30px;
	width: 30%;
	background-color: #318EA0;
	box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.53);
}
.form{
/*	margin: 20px 10px;*/
	margin: 10px 0px;
/*	border: 2px solid red;*/
	width: 100%;
	display: flex;
}
.form > label{
	flex: 2;
	text-align: left;
	font-size: 25px;
	color: black;
	letter-spacing: 2px;

}
.form > input{
	flex: 2;
	border-radius: 30px;
	background-color: rgba(141,201,212,0.7091211484593838);

}
.formBtn{
	display: flex;
	margin: 0px 10px;
	margin-top: 40px;
/*	border: 2px solid red;*/
	height: 40%;
	width: 80%;
}
#space1{
	flex: 2;
}
.formBtn > button{
	flex: 2;
	font-size: 25px;
	border-radius: 30px;
	box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.53);
	margin-bottom: 20px;
	color: black;
	letter-spacing: 2px;
}
#space2{
	flex: 1;
}
#comment{
	overflow: hidden;
	resize: none;
	background-color: rgba(141,201,212,0.7091211484593838);
	border-width: thick;
}

form > h1{
	margin: 20px 0px;
	color: black;
	letter-spacing: 2px;

}

/*footer*/
footer{
	height: 20vh;
	background-color: #181A43;
}

.footerdiv{
	display: flex;
	padding-top: 10px;
	margin-left: 30px;
	color: white;
}

.footerdiv > img{
	max-height: 30px;

}

.footerdiv > h3{
	font-size: 20px;
	margin-left: 20px;
	color: whitesmoke;
	text-shadow: -1px -1px 0 darkgreen, 1px -1px 0 darkgreen, -1px 1px 0 darkgreen, 1px 1px 0 darkgreen;
}
.footerdiv a{
	text-decoration-style: none;
	text-decoration-line: none;
		color: whitesmoke;
		padding: 0px 3px;
}

.footerdiv a:visited{
	text-decoration-style: none;
	text-decoration-line: none;
		padding: 0px 3px;
		color: whitesmoke;
}

.footerdiv a:hover{
	text-decoration-style: none;
	text-decoration-line: none;
		padding: 0px 3px;
		color: whitesmoke;
}

.footerdiv a:active{
	text-decoration-style: none;
	text-decoration-line: none;
		padding: 0px 3px;
		color: whitesmoke;
}
.second{
	padding-left: 3px;
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
